<div id="contenedor">
    <button routerLink="/menu" id="back">&larr;</button>
    <div id="page">
        <div class="row">
            <div class="vignette">
                <h3>{{ 'rules.section1' | translate }}</h3>
                <p>{{ 'rules.section1_desc' | translate }}</p>
            </div>
            <div class="vignette">
                <h3>{{ 'rules.section2' | translate }}</h3>
                <p>{{ 'rules.section2_desc' | translate }}</p>
            </div>
        </div>

        <div class="vignette">
            <h3>{{ 'rules.section3' | translate }}</h3>
            <ul>
                <li>{{ 'rules.strength_vs_speed' | translate }}</li>
                <li>{{ 'rules.speed_vs_intelligence' | translate }}</li>
                <li>{{ 'rules.intelligence_vs_strength' | translate }}</li>
            </ul>
        </div>


        <div class="row">
            <div class="vignette">
                <p>{{ 'rules.same_statistic' | translate }}</p>
                <p>{{ 'rules.different_statistic' | translate }}</p>
            </div>
            <div class="vignette">
                <h3>{{ 'rules.game_end' | translate }}</h3>
                <p>{{ 'rules.game_end_desc' | translate }}</p>
            </div>
        </div>
    </div>
</div>