#contenedor {
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

img {
    width: 11rem;
    height: 15rem;
    margin: 1rem;
    transition: all 0.4s;
}

#super {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    border-radius: 1rem;
    background-color: rgb(236, 124, 44);
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
}

#super:hover {
    box-shadow: 0 0 10px 3px rgba(255, 69, 0, 0.6), 0 0 20px 5px rgba(255, 69, 0, 0.4);
    transform: scale(1.2);
}

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    color: rgb(172, 72, 1);
}

#super:hover #presentation{
    transform:  translateY(-100%);
}

#info {
    position: absolute;
    bottom: -100%;
    text-align: center;
    transition: all 0.4s;
    padding: 0.5rem;
    color: rgb(172, 72, 1);
}

#super:hover #info {
    bottom: 10%;
}

nav {
    width: 100%;
    display: flex;
    position: absolute;
    margin-bottom: 5rem;
}

#sups {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

button{
    width: 10rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.7rem;
    text-align: center;
}
